{% extends 'base.html' %}

{% block content %}
    <style>
        th, td {
        padding: 15px; border:1px solid black
        }
        table {
            border:1px solid black;
        }
    </style>

    <h1>{{ app_name }}</h1>

    <h5>Name: </h5>
    <p>{{ name }}<p>

    <h5>Class: </h5>
    <p>{{ class }}<p>

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>ATK</th>
            <th>Rarity</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.atk}}</td>
                <td>{{item.rarity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
{% endblock content %}

