{% extends 'base.html' %}

{% block content %}
    <style>
        th {
            padding: 15px; border:1px solid; background-color: #0096FF; font-size: large;
        }
        td {
            padding: 15px; border:1px solid black;
        }
        table {
            border:1px solid black; border-collapse: collapse;
        }
        tr:hover {background-color: #D6EEEE;}
    </style>

    <h1>{{ app_name }}</h1>

    <h5>Name: </h5>
    <p>{{ name }}<p>

    <h5>Class: </h5>
    <p>{{ class }}<p>

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>ATK</th>
            <th>Rarity</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td style="text-align: center;">{{item.type}}</td>
                <td style="text-align: center;">{{item.atk}}</td>
                <td style="text-align: center;">{{item.rarity}}</td>
                <td>{{item.description}}</td>
                <td style="text-align: center;">{{item.amount}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button style="background-color: #0096FF; border: none; color: white;
            padding: 7px 15px; text-align: center; text-decoration: none; display: inline-block;
            font-size: 16px; cursor: pointer;" >
            Add New Item
        </button>
    </a>
{% endblock content %}

