{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        font-family: sans-serif;
        background-color: #1f232c;;
        color: white;
    }
    th,td {
        padding: 6px;
    }
    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    .btn-outline-custom {
            color: #42faac;
            background-color: transparent;
            border-color: #42faac;
        }
    .btn-outline-custom:hover {
        background-color: #42faac;
        color: #262a33;
    }
</style>

<div class = "login" style="box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2); 
padding-top: 50px; padding-bottom: 70px; padding-left: 30px; padding-left: 30px; border-radius: 10px; background-color: #262a33;">
    
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input style="padding: 5px 15px; text-align: center; text-decoration: none; display: inline-block;
                        font-size: 15px; cursor: pointer; border-radius: 6px;" type="submit" name="submit" class="btn btn btn-outline-custom" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}